<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.abbd.zpkorienteering"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lukaszbalukin.orienteering.views.OrienteeringRunActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lukaszbalukin.orienteering.views.SettingsActivity"
            android:label="@string/title_activity_settings" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lukaszbalukin.orienteering.views.UserIdentifierChooser"
            android:label="@string/title_activity_idchooser" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lukaszbalukin.orienteering.views.RunHistoryActivity"
            android:label="@string/title_activity_run_history" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lukaszbalukin.orienteering.views.RunDetailsActivity"
            android:label="@string/title_activity_run_details" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lukaszbalukin.orienteering.views.RunExporter"
            android:label="@string/ShareWithRefs" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name="com.lukaszbalukin.orienteering.services.TimeWatcherService" >
        </service>

        <activity
            android:name="com.lukaszbalukin.orienteering.views.AboutMe"
            android:label="@string/title_activity_about__me" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>